{{- $base := "/" | absURL -}}
{{- $homeURL := .Site.Home.Permalink -}}
{{- $orgId := printf "%s#organization" $base -}}
{{- $logo := "posy-mark.svg" | absURL -}}
{{- $sameAs := slice -}}
{{- with .Site.Params.instagramURL }}{{ $sameAs = $sameAs | append . }}{{ end -}}
{{- with .Site.Params.tiktokURL }}{{ $sameAs = $sameAs | append . }}{{ end -}}

<script type="application/ld+json">
{{- dict
  "@context" "https://schema.org"
  "@type" "Organization"
  "@id" $orgId
  "name" .Site.Title
  "url" $base
  "logo" $logo
  "sameAs" $sameAs
  | jsonify (dict "indent" "  ") | safeJS -}}
</script>

{{- if .IsHome }}
<script type="application/ld+json">
{{- dict
  "@context" "https://schema.org"
  "@type" "SoftwareApplication"
  "name" .Site.Title
  "url" $base
  "applicationCategory" "PhotoApplication"
  "operatingSystem" "Web, iOS, Android"
  "description" .Site.Params.description
  "publisher" (dict "@id" $orgId)
  "offers" (dict
    "@type" "AggregateOffer"
    "priceCurrency" "USD"
    "lowPrice" "29"
    "highPrice" "99"
    "offerCount" "3"
  )
  | jsonify (dict "indent" "  ") | safeJS -}}
</script>
{{- end }}

{{- if not .IsHome }}
{{- $crumbs := slice (dict "name" .Site.Title "url" $homeURL) -}}
{{- range .Ancestors.Reverse -}}
  {{- if not .IsHome -}}
    {{- $crumbs = $crumbs | append (dict "name" .Title "url" .Permalink) -}}
  {{- end -}}
{{- end -}}
{{- $crumbs = $crumbs | append (dict "name" .Title "url" .Permalink) -}}
{{- $items := slice -}}
{{- range $i, $c := $crumbs -}}
  {{- $items = $items | append (dict
    "@type" "ListItem"
    "position" (add $i 1)
    "name" $c.name
    "item" $c.url
  ) -}}
{{- end -}}
<script type="application/ld+json">
{{- dict
  "@context" "https://schema.org"
  "@type" "BreadcrumbList"
  "itemListElement" $items
  | jsonify (dict "indent" "  ") | safeJS -}}
</script>
{{- end }}
